.ipynb_checkpoints/
CONTRIBUTING.md
Dockerfile
README.md
__pycache__/
convertor/
data/
detect.py
export.py
hubconf.py
input/
models/
runs/
setup.cfg
train.py
tutorial.ipynb
utils/
val.py
yolov5/
*.pt
basic_env.txt
convertor-wheat/
*.zip
